#storefront {
	position: relative;
	width: 80%;
	height: 40vh;
	background-color: whitesmoke;
}

.categories {
	padding: 0.2em;
	justify-content: flex-start;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.categories button {
	outline: none;
	border: none;
	cursor: pointer;
	margin: 10px;
}

#book-logo {
	font-size: 1.5em;
	font-weight: bolder;
	color: black;
	margin: auto;
	text-shadow: none;
}

@media only screen and (max-width: 1025px) {
	#book-logo {
		display: none;
	}
}


#book-search {
	margin-left: 5px;
	margin-top: 0.5em;
	display: flex;
	/* justify-content: flex-end; */
}

#book-search-text {
	width: 80%;
	background: lightgray;
	/* border-radius: 15px; */
	border: none;
	padding: 1em;
}

#book-search-submit {
	max-width: 100px;
	padding: calc(1em);
	border: none;
	background: red;
	cursor: pointer;
	color: white;
	font-weight: bolder;
	margin-right: 1em;
}

@media only screen and (min-width: 500px) {
	#book-search-submit {
		min-width: 80px;
	}
}

@media only screen and (max-width: 500px) {
	#book-search-submit {
		min-width: none;
		width: 10px;
	}
}

#error {
	background-color: rgb(253, 76, 63);
	border: red;
}

.book-list {
	color: black;
	text-shadow: none;
	max-height: 20vh;
	text-overflow: ellipsis;
	overflow-y: scroll;
}

.selected {
	background: rgb(253, 76, 63, 0.5);
}