$text-color: white;

.flag {
	text-align: center;
}

.flagText {
	text-align: center;
}

#flag-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#flag-input {
	background-color: gray;
	color: $text-color;
	
}

#flag-input::placeholder {
	color: $text-color;
	opacity: 1;
}

#flag-submit {
	background: black;
	color: $text-color;
	margin: 5px;
	padding: 5px;
	border: 2px solid $text-color;
	margin-left: 1em;
}