:root {
  $title-size: 2.5rem;
  $footer-size: 2rem;
  $normal-text: 1.2rem;
  $sub-heading: 2rem;
  $text-color: whitesmoke;
  $bg-color: rgb(31, 31, 31);
  color: var($text-color);
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  text-shadow: -1px 0 black,
  0 1px black,
  1px 0 black,
  0 -1px black;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'KaiTi', source-code-pro,
  Menlo,
  Monaco,
  Consolas,
  'Courier New',
  monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Hack fix to force parent content div to encapsulate children divs*/
  /* overflow-y: hidden; TODO: Ideally user should be able to scroll */
  background: var($bg-color);
  user-select: none;
  -ms-user-select: none;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

a {
  color: var($text-color);
}

.app {
  text-align: center;
  display: grid;
}

.screen {
  position: absolute;
}

#start {
  position: absolute;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
}

/*
Source: http: //www.java2s.com/example/html-css/css-animation/jumping-dots-animation.html
*/
.loadingDots {
  position: relative;
  animation: jump 1s infinite;
}

.loadingDots:nth-of-type(2) {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.loadingDots:nth-of-type(3) {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

@keyframes jump {
  0% {bottom: 0rem;}
  20% {bottom: 0.2rem;}
  40% {bottom: 0rem;}
}

@-webkit-keyframes jump {
  0% {
    bottom: 0rem;
  }

  20% {
    bottom: 0.2rem;
  }

  40% {
    bottom: 0rem;
  }
}