/*TODO: Animation is a bit shoddy, ideall make the circle compress into centre, cross regress out from centre, vice versa*/ 

.btn {
  position: fixed;
  grid-column: 1;
  grid-row: 1;
  margin-left: 30px;
  margin-top: 39.84px;
  border-style: none;
  z-index: 9;
  background: none;
  cursor: pointer;
}

.menu-btn {
  position: fixed;
  border-radius: 50%;
  width: 5vw;
  height: auto;
  min-width: 4rem;
  min-height: 4rem;
  max-width: 6vw;
  max-height: 6vw;
  transition: all 1.2s ease-in-out;
}

.menu-btn::before,
.menu-btn::after {
  position: absolute;
  content: '';
  opacity: 0%;
  border-radius: 5px;
  transition: all 1.2s ease-in-out;
}

.menu-btn::before {
  transform: rotate(90deg) translateY(0.3em);
}

.menu-btn::after {
  transform: translateX(-0.3em);
}

.cross {
  position: fixed;
  transform: translateX(-2rem);
}

.cross::before,
.cross::after {
  background: #fff;
  opacity: 100%;
  width: 0.2em;
  height: 3rem;
}

.cross::before {
  transform: rotate(135deg);
}

.cross::after {
  transform: rotate(45deg);
}

.bg-sprite {
  height: 100%;
  width: 100%;
}

/* TESTING PURPOSES */
/* .btn:active {
  background-color: orange;
} */

.flyout {
  transition: transform 1s 
    cubic-bezier(0.2, 0.6, 0, 1);
}

.left {
  transform: translateX(0vw);
}

.right {
  transform: translateX(calc(90vw - 3rem));
}
