:root {
	--admin-colour: rgb(83, 83, 83);
	--text-colour: white;
	--user-colour: rgb(10, 137, 175);
}

.support-pane {
	display: block;
	height: 10em;
	max-height: 10em;
	color: var(--text-colour);
}

/**
* Source: https: //codepen.io/kahboom/pen/bGpqPEw
*/
/* CSS talk bubble */
.talk-bubble {
	margin: 40px;
	display: inline-block;
	position: relative;
	width: 200px;
	height: auto;
	background-color: var(--user-colour);
	padding: 0.5em;
	overflow-wrap: break-word;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -40px;
	right: auto;
	top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: var(--user-colour) transparent transparent transparent;
}

.tri-right.left-top:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: calc(-1em + 1px);
	right: auto;
	top: 0px;
	bottom: auto;
	border: 1em solid;
	border-color: var(--user-colour) transparent transparent transparent;
}

