:root {
  --top-diff: 2em;
  --chall-padding: 0.2em;
  --icon-width: 75px;
}

/*Sets filter for menu screen*/
.cover {
  grid-column: 1;
  grid-row: 1;
  background-color: rgb(0,0,0,0.3);
  height: 100vh;
  width: 100vw;
  overflow: hidden;   
  position: fixed;
}

/*Quick flyout animation for screen, menu button*/
.flyout {
  z-index: 8;
  transition: transform 1s smooth; /* Change content.css container as well */
}

/*
Shifts menu screen out of view
position is fixed here bc it screws everything else up
*/
.hidden {
  transform: translateX(-100vw);
}

/*Shifts menu screen into view*/
.visible {
  transform: translateX(0vw);
}

/* Div containing both icons and flag*/
#challengeMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
}

/* Set immediate children width to be the same*/
#challengeMenu > div {
  width: 45vw;
}

.challenge-container {
  padding: var(--chall-padding);
  width: auto;
  height: calc(75px + 4rem);
  margin: 1rem;
}

/*Pads icons from each other*/
.challenge {
  width: 75px;
  height: 75px;
}

/*
icons div, and flag div.
Splits screen space in half
*/
.table {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: center;
  overflow-y: auto;
}

/*Pads top of flag div. Honestly shouldn't be here*/
.flag-col {
  padding-top: var(--chall-padding);
  padding-right: 10px;
}

/*Flag div styling*/
.flag-form {
  flex-direction: column;
  height: 60vh;
  align-items: center;
  justify-content: center;
}

/*Sets border for focussed icons*/
.focussed {
  border: solid rgb(255, 255, 255);
  border-radius: 50%;
}

/*Removes border from unfocussed icons*/
.unfocussed {
  border: solid transparent;
}

/*Make locked icons grayscale*/
.locked {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*Text underneath each challenge icon*/
.challenge-text {
  align-self: center;
  color: white;
  width: calc(1.5 * var(--icon-width));
  font-size: 1.2rem;
  height: auto;
}

@media only screen and (max-width: 670px){
  .challenge-text {
    visibility: hidden;
  }

  .challenge-container {
    height: 75px;
  }

  #menu-title {
    visibility: hidden;
  }
}
