:root {
  --med-size: 12em;
  --small-size: 9em;
}

.eye {
  margin: 0 auto;
  border-radius: 100% 0px;
  transform: rotate(45deg);
  background-color: white;
}

.pupil {
  border-radius: 50%;
  background-color: black;
  width: var(--small-size);
  height: var(--small-size);
}

.med {
  width: var(--med-size);
  height: var(--med-size);
}

.small {
  width: var(--small-size);
  height: var(--small-size);
}