:root {
  --med-size: 12em;
  --small-size: 9em;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(30, 31, 31);
  z-index: -1;
  overflow-y: hidden;
  overflow-x: hidden;
}

.eye {
  margin: 0 auto;
  border-radius: 100% 0px;
  transform: rotate(45deg);
  background-color: white;
}

.pupil {
  border-radius: 50%;
  background-color: black;
  width: var(--small-size);
  height: var(--small-size);
}

.med {
  width: var(--med-size);
  height: var(--med-size);
}

.small {
  width: var(--small-size);
  height: var(--small-size);
}