:root {
    --content-top: 25vh;
    --train-width: 0.5rem * 100;
    --animation-length: 4s;
    --animation-style: ease-in-out;
}

.main {
    position: absolute;
    top: var(--content-top);
    padding-left: 10vw;
    align-content: left;
    text-align: left;
    overflow: auto;
}

#email {
    color: var(--text-color);
}

#container {
    display: flex;
    flex-direction: column;
}

#content {
    clear: auto;
}

#footer {
    margin-top: auto;
}

/*Transform values are hardcoded, otherwise won't shift*/
#train {
    position: fixed;
    top: 20vh;
    text-align: left;
    animation: shiftTrain var(--animation-length) var(--animation-style);
    transform: translateX(calc(0.5rem * -100));
}

#content.animate {
    position: fixed;
    width: 100vw;
    animation: shiftContent var(--animation-length) var(--animation-style);
}

#start.animate {
    animation: shiftCode var(--animation-length) var(--animation-style);
}

@keyframes shiftCode {
    from {transform: translateX(0)}
    to {transform: translateX(calc(0.5rem * -100 - 100vw));}
}

@keyframes shiftTrain {
    from {transform: translateX(101vw);}
}

@keyframes shiftContent {
    from {transform: translateX(calc(100vw + var(--train-width)));}
    to {transform: translateX(0)}
}