/* FontAwesome icons */
.icons svg {
	border-radius: 1rem;
	padding: 1rem;
	font-size: 4rem;
}

.icons {
	display: flex;
	flex-wrap: wrap;
}

.icons a {
	position: relative;
	color: white;
}

.icons a:hover .tag{
	opacity: 100%;
}

.tag {
	text-align: center;
	opacity: 100%;
}

@media only screen and (min-width: 1025px) {
	.tag {
		opacity: 0%;
		transition: opacity 0.5s ease-out
	}
}

.line {
	position: absolute;
	left: 15%;
	height: 2px;
	width: 70%;
	background-color: white;
}

img {
	width: 20vw;
	height: 20vh;
}

h6 {
	padding: 0;
	margin: 0;
}

#portfolio {
	position: relative;
}

footer {
	position: absolute;
	height: 10vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	top: 85vh;
}

footer:hover {
	cursor: pointer;
	transform: translateY(0);
	animation: bounceDown 1s ease-in-out infinite;
}

@keyframes bounceDown {
	50% {
		transform: translateY(15px)
	}
}

@keyframes bounceUp {
	0% {
		transform: translateY(0)
	}

	50% {
		transform: translateY(-10px)
	}

	100% {
		transform: translateY(0)
	}
}

.label {
	position: absolute;
}

#labelup {
	top: 35px;
}

header {
	position: absolute;
	height: 10vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	top: 100vh;
	transform: all 250ms ease-in-out;
	transition: transform 50ms ease;
}

header:hover {
	cursor: pointer;
	animation: bounceUp 1s ease-in-out infinite;
}

.arrow {
	position: absolute;
	width: 60px;
	height: 60px;
	background: transparent;
	text-indent: -9999px;
	border-top: 2px solid #bfbfbf;
	border-left: 2px solid #bfbfbf;
	text-decoration: none;
	color: transparent;
}

.down {
	transform: rotate(225deg)
}

.up {
	transform: rotate(45deg)
}

.hidden {
	visibility: hidden;
}

.nav-row {
	margin: 2vw;
	padding: 2vw;
	background-color: rgb(0, 0, 0, 0.5);
	border-radius: 2rem;
}

p {
	font-size: var(--normal-text);
}

#experience {
	position: relative;
	top: 100vh;
}