:root {
  --top-diff: 2em;
  --chall-padding: 0.2em;
  --icon-width: 75px;
}

/*Sets filter for menu screen*/
.cover {
  grid-column: 1;
  grid-row: 1;
  background-color: rgb(0,0,0,0.3);
  height: 100vh;
  width: 100vw;
  overflow: hidden;   
}

/*Quick flyout animation for screen, menu button*/
.flyout {
  transition: transform 1s 
    cubic-bezier(0.1, 0.52, 0, 1);
  z-index: 8;
}

/*
Shifts menu screen out of view
position is fixed here bc it screws everything else up
*/
.hidden {
  position: fixed;
  transform: translate3d(-100vw, 0, 0);
}

/*Shifts menu screen into view*/
.visible {
  position: fixed;
  transform: translate3d(0vw, 0, 0);
}

/* Div containing both icons and flag*/
.challengeMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Set immediate children width to be the same*/
.challengeMenu > div {
  width: 45vw;
}


/*Pads icons from each other*/
.challenge {
  padding: var(--chall-padding);
  width: 75px;
  height: 75px;
  margin: 1rem;
  box-shadow: #fff 0.5em;
}

/*
icons div, and flag div.
Splits screen space in half
*/
.table {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  text-align: center;
}

/*Pads top of flag div. Honestly shouldn't be here*/
.flag-col {
  padding-top: var(--chall-padding);
}

/*Flag div styling*/
.flag-form {
  flex-direction: column;
  height: 60vh;
  align-items: center;
  justify-content: center;
}

/*Sets border for focussed icons*/
.focussed {
  border: solid rgb(255, 255, 255);
  border-radius: 50%;
}

/*Removes border from unfocussed icons*/
.unfocussed {
  border: solid transparent;
}

/*Make locked icons grayscale*/
.locked {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*Text underneath each challenge icon*/
@media only screen and (max-width: 700px){
  .challenge-text {
    visibility: hidden;
  }
}

.challenge-text {
  align-self: center;
  color: white;
  width: calc(1.5 * var(--icon-width));
  font-size: 1.2rem;
}