#bubbles {
  z-index: -9;
  transform: translateZ(-1);
}

#bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  background-color: rgb(0, 0, 0, 0.5);
  bottom: -100px;
  animation: square 30s infinite;
  transition-timing-function: linear;
  border-radius: 50%;
}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-150vh);
    transform: translateY(-150vh);
  }
}